.statistic {
  margin-top: 20px;
}

.statistic_list {
  list-style: none;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0;
}
.statistic_title {
  margin: 0;
}
.statistic_item {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.statistic_item::first-letter {
  text-transform: uppercase;
}
